body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #344b74;
  color: white;
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.meta {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 30px;
  color: #ffffffc0;
}

.content {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}